<!--NAVIGATION-->


[[step06. 변수 학습 page로 이동](step06VariableOperators.ipynb) ] | [[step08.comprehension 학습 page로 이동](step08Comprehension.ipynb) ]

**기호가 의미하는 횟수**

1. 아무것도 없음 : 무조건 한번
2. \+ : 1번 ~ 무한번을 의미
3. \* : 0번 ~ 무한번을 의미
4. ? : 0번 or 1번을 의미

### 함수 구현의 다양한 문법 

- 인수(argument) - 호출 프로그램에 의하여 함수에 전달되는 값
- 매개변수(parameter) - 인수값을 전달받는 변수

--------------------------------------------------------

- 디폴트 인수 : 함수의 매개 변수가 기본값 보유
- 키워드 인수 : 인수들 앞에 키워드를 두어 인수 구분
- 임의의 인수 목록 : 인자의 개수가 정해지지 않은 가변 인수를 전달
- 람다 함수 : 이름이 없는 한줄짜리 함수(식을 함수처럼 표현, 대부분의 프로그램 언어가 갖고 있음)

- ctrl + shift + = : cell 구분 단축키

In [3]:
# 반환값이 여러개도 가능

def f1():
    return 1, 2

print(f1(), type(f1()))

(1, 2) <class 'tuple'>

In [4]:
def f2():
    return 'a', 2

v1, v2 = f2()
print(v1, v2, type(v1), type(v2))

a 2 <class 'str'> <class 'int'>

### 1. 디폴트(default) 인수

In [7]:
# 매개변수 기본 초기화값 활용하는 함수
# 호출 : 함수명(값1), 함수명(값1, 값2)

def func1(name, age = 10) :
    print(name, age)
    
func1('amy')
func1('bill', 20)

amy 10
bill 20

### 2. 키워드 인수

- **kwargs : keyword argument 줄임말
- **kwargs : 키워드=특정값 형태로호출

In [9]:
def fun2(x, y, z):
    return x * y + z

In [10]:
fun2(1, 2, 3)

5

In [11]:
fun2(x=2, y=3, z=4)

10

In [12]:
fun2(z=2, y=3, x=4)

14

In [22]:
# **kwargs 사용
def fun3(**kwargs) :
    print(type(kwargs))
    print(kwargs)
    print(kwargs['x'])
    print(kwargs.items())

In [23]:
fun3(x=10, y=20, z=30)

<class 'dict'>
{'x': 10, 'y': 20, 'z': 30}
10
dict_items([('x', 10), ('y', 20), ('z', 30)])

In [38]:
# **kwargs 사용 + 반복문과 items()
'''
def fun4(**kwargs) :
    for key in kwargs :
        print(key, kwargs[key], sep = " : ")
'''
'''
def fun4(**kwargs) :
    for key in [('x', 10), ('y', 20), ('z', 30)] :
        print(key)
'''

def fun4(**kwargs) :
    for key, value in kwargs.items() :
        print(key, value, sep=" : ")

In [39]:
fun4(x=10, y=20, z=30)

x : 10
y : 20
z : 30

### 3. 임의의 인수

- *를 사용할 경우 인수는 튜퓰 형식
- 가변인자 활용

In [40]:
def fun3(*args, sep='-') :
    print(sep.join(args))    # '-'.join(args)와 결과 같음

In [42]:
fun3('a', 'b','c')

a-b-c

random() :0 이상 1 미만

randrange() : 1에서 6까지의 정수 중 하나를 무작위로 반환

**미션-
일회용 패스워드 생성기를 이용하여서 3개의 패스워드를 생성하여 출력하는 프로그램을 작성해 보기**

출력 예시 : 
    
ouuc4c <br>
uuahtp <br>
79s6oz <br>

In [82]:
password_alp = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890'

import random 

#random.random() : 0~1 사이의 임의의 float
#random.randragne(int) : 0~int-1까지 임의의 숫자 출력 

'''
for idx in range(3) :
    for idx2 in range(6) :
        print(password_alp[random.randrange(len(password_alp))],end='')
    print()
'''

def generate_pass() :
    alp = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890'
    pwd = ''
    
    for i in range(6) :
        index = random.randrange(len(alp))
        pwd += alp[index]
    
    return pwd

print(generate_pass())
print(generate_pass())
print(generate_pass())

NOns3W
Y2tiiE
NhcMTH

### 4. 람다 함수

- 이름없이 정의된 익명함수 
- 매개변수 제한이 없음, 단 하나의 값만 반환
- 함수의 반환, 변수의 데이터값으로 사용 가능
- list의 sort의 key속성의 값으로도 사용 가능(실전 응용)
- 문법 :<br>
lambda 인자[,..] : 표현식(수식)

In [101]:
summ = lambda x : x+10
print("summ(100) = ", summ(100))

sum2 = lambda x,y : x+y
print("sum2(10,40) = ", sum2(10,40))

summ(100) =  110
sum2(10,40) =  50

In [102]:
mylist=[1, 5, 3, 9, 8, 4, 2]
print(mylist.sort())

None

In [2]:
mylist

[1, 2, 3, 4, 5, 8, 9]

In [105]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [106]:
mylist2.sort(key=lambda a : a[2])
mylist2

[('lee', 27, 99), ('kim', 23, 100), ('park', 43, 102)]

In [108]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2.sort(key=lambda a : a[0])
print(mylist2)

mylist2.sort(key=lambda a : a[0], reverse=True)
print(mylist2)

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
[('park', 43, 102), ('lee', 27, 99), ('kim', 23, 100)]

In [118]:
# 대소문자 구분없이 sort 함수로 정렬 
# 람다 사용해서 소문자로 변경해서 정렬 
# lower()
mylist3 = ['Spam', 'egg', 'Ham']

for data in mylist3 :
    print(data.lower())

mylist3.sort(key = lambda x : x.lower())    
print(mylist3)

spam
egg
ham
['egg', 'Ham', 'Spam']

In [119]:
mylist3 = ['Spam', 'egg', 'Ham']
mylist3.sort()
print(mylist3)

['Ham', 'Spam', 'egg']

In [38]:
mydict1 = {'one':1, 'two':2, 'three':3}
sorted(mydict1)

['one', 'three', 'two']

### 5. map() 함수

- 다수의 데이터에 공통된 로직을 일괄 처리, 가능한 기능의 함수
- 사용 방법 : map(기능함수 or lambda식, 첫번째 parameter로 입력된 기능 사용할 데이터 
- 문법 : map(함수, 리스트)
- 시퀀스의 모든 항목에 함수를 적용한 결과 리스트 반환
-

In [120]:
def cube(x):
    return x**2

list(map(cube, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [132]:
list(map(lambda x : x**2, range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [129]:
def my_func(a) :
    print(a)
    return len(a)


x = map(my_func, ('apple', 'mange', 'pineapple'))
print(x)
print(list(x))

<map object at 0x0000009C9D1E1550>
apple
mange
pineapple
[5, 5, 9]

In [130]:
def my_func(a) :
    print(a)
    return len(a)

lst = ['apple', 'mange', 'pineapple']

x = map(my_func, lst)
print(x)
print(list(x))

<map object at 0x0000009C9D0AD5B0>
apple
mange
pineapple
[5, 5, 9]

In [131]:
list(map( lambda n : len(n), lst))

[5, 5, 9]

In [58]:
for i in range(5):
    print(i**2)

0
1
4
9
16

### 6. reduce() 함수
- 주로 집계용으로 사용
- 사용을 위해서는 functools 모듈 선언

In [133]:
from functools import reduce

data = reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
print(data)

15

In [134]:
#상단 reduce에 사용된 lambda의 로직을 단순 python 문법으로 개발한 코드

def userReduce():
    datas = [1,2,3,4,5]
    result = 0 
    
    for i in range(len(datas)) :
        result += datas[i]
    
    return result

userReduce()

15

### 7. filter()

- 데이터의 일부만 착출 가능한 기능의 즉 필터링 기능의 함수
- 시퀀스의 항목들 중 함수 조건이 True인 항목만 추출
- 문법 : filter(함수 or 람다, (필터링 당할)리스트 또는 데이터들)

In [135]:
list(filter(lambda x : x < 5 , range(10)))

[0, 1, 2, 3, 4]

In [136]:
list(map(lambda x : x < 5 , range(10)))

[True, True, True, True, True, False, False, False, False, False]

**미션** : (123,) 값이 출력될 수 있도록 ? 부분 완성하세요

In [138]:
list2 = (10,22,37,41,100,123,29)

In [148]:
print(tuple(filter(lambda x : x%3 == 0, list2)))
print(tuple(filter(lambda x : x > 100, list2)))

(123,)
(123,)

### 8. Collection 함수

- 순서값과 요소값을 한번에 구하는 내장 함수
- 기본 for문을 활용해서 학생 순번에 맞게 list 점수 출력
- enumerate() 활용해서 순서와 요소값을 한번에 튜플로 반환

In [2]:
score = [80, 30, 70, 85, 90]

for no in range(len(score)):
    print(str(no+1) + '번 학생의 성적 : ', score[no])

1번 학생의 성적 :  80
2번 학생의 성적 :  30
3번 학생의 성적 :  70
4번 학생의 성적 :  85
5번 학생의 성적 :  90

In [6]:
score = [80, 30, 70, 85, 90]

for i, v in enumerate(score) :
    print(i+1, '번 학생의 성적 : ', v)
    print(str(i+1), '번 학생의 성적 : ', v)

1 번 학생의 성적 :  80
1 번 학생의 성적 :  80
2 번 학생의 성적 :  30
2 번 학생의 성적 :  30
3 번 학생의 성적 :  70
3 번 학생의 성적 :  70
4 번 학생의 성적 :  85
4 번 학생의 성적 :  85
5 번 학생의 성적 :  90
5 번 학생의 성적 :  90

In [1]:
seasons=['spring', 'summer', 'fall', 'winter']
print(list(enumerate(seasons)))

print(list(enumerate(seasons, start = 1)))

[(0, 'spring'), (1, 'summer'), (2, 'fall'), (3, 'winter')]
[(1, 'spring'), (2, 'summer'), (3, 'fall'), (4, 'winter')]

In [2]:
for i, v in enumerate(seasons) :
    print(i, v)

0 spring
1 summer
2 fall
3 winter